.console {
    height: calc(100vh - 64px);
    margin: 0;
    width: 100%;
    overflow: hidden;
}

.graphiql-container .topBar {
    height: 48px;
    background: rgb(247, 247, 247)
}

.graphiql-container .docExplorerShow {
    background: rgb(247, 247, 247)
}

.graphiql-container .editorWrap {
    overflow: hidden;
}

.graphiql-container .doc-explorer-title-bar {
    height: 48px;
}

.graphiql-container .history-title-bar {
    height: 48px;
}