.app-logo {
    padding-bottom: 4px;
}

.app-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.app-body {
    display: flex;
    flex: 1;
    min-height: 0;
}

.app-content {
    flex: 1;
    overflow: auto;
}

.app-header {
    height: 64px;
    max-height: 64px;
    width: 100%;
    display: flex;
    align-items: center;
}

.app-header-title-wrapper {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
    margin-left: 24px;
}

.app-header-title {
    color: rgba(255, 255, 255, 0.67);
    margin-bottom: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.app-header-menu {
    flex-grow: 0;
    flex-shrink: 0;
    line-height: 50px;
    display: flex;
}
